<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BoardProject</display-name>
  <servlet>
    <servlet-name>list</servlet-name>
    <servlet-class>com.sist.board.BoardListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>list</servlet-name>
    <url-pattern>/BoardListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insert</servlet-name>
    <servlet-class>com.sist.board.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>detail</servlet-name>
    <servlet-class>com.sist.board.BoardDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detail</servlet-name>
    <url-pattern>/BoardDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update</servlet-name>
    <servlet-class>com.sist.board.BoardUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/BoardUpdateServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>delete</servlet-name>
    <servlet-class>com.sist.board.BoardDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/BoardDeleteServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>